/* styles.css */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.head-of-the-page {
    background-color: rgb(192, 226, 255);
    text-align: center;
}

.title {
    background-color: beige;
    text-decoration: underline;
    font-size: 27px;
}

.head-of-the-page.sea-recipe {
    background-color: rgb(43, 110, 158);
    color: azure;
}

.head-of-the-page.bakery-recipe {
    background-color: blanchedalmond;
}

#list-title {
    background-color: bisque;
    font-size: 22px;
    font-weight: 100;
}

ul, 
ol {
    font-size: 17px;
    font-style: italic;
}